.friend {
  width: 300px;
  border: 2px solid black;
  float: left;
  margin: 10px;
}
.friend img {
  height: 60px;
}
.friend button {
  width: 150px;
  padding: 10px;
  margin: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.friend button:hover {
  background-color: rgb(97, 199, 165);
}
